[Unit]
Description=Silent Audio to Prevent HDA Failure

[Service]
ExecStart=%h/.local/share/silent-audio/silent-audio.sh
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
